# =============== #
# Unity generated, builds#
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Builds/
*.dotsettings
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# ============ #
# Protected Assets #
# ============ #
Win10/*
Win/*
UWP/*
apk.apk
.consulo
.vscode
Assets/VSCode*
/WinRunner
/Assets/GooglePlayGames.7z.meta
/Assets/GooglePlayGames.7z
/apk1.apk
/Win.7z
Win/*
MS/*
MSAds/*
